
#getActiveMQ-watcher {
  font-family: "break-0";
}

@media (min-width: 20em) {
  #getActiveMQ-watcher {
    font-family: "break-1";
  }
}

@media (min-width: 30em) {
  #getActiveMQ-watcher {
    font-family: "break-2";
  }
}

@media (min-width: 37.5em) {
  #getActiveMQ-watcher {
    font-family: "break-3";
  }
}

@media (min-width: 48em) {
  #getActiveMQ-watcher {
    font-family: "break-4";
  }
}

@media (min-width: 60em) {
  #getActiveMQ-watcher {
    font-family: "break-5";
  }
}


@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}


#places-map {
  position: relative;
}

#places-map h1 {
  font-size: 1.3125em;
  margin-top: 0.95238em;
  text-align: center;
}

@media (min-width: 37.5em) {
  #places-map h1 {
    font-size: 2.1875em;
    margin-top: 0.94286em;
  }
}

#places-map p {
  font-size: 0.75em;
  margin-top: 0.95238em;
  text-align: center;
}

@media (min-width: 37.5em) {
  #places-map p {
    font-size: 1.25em;
    margin-top: 0.94286em;
  }
}

#places-map .wu-logo {
  display: none;
  height: 11.25em;
  width: 11.3125em;
}

@media (min-width: 60em) {
  #places-map .wu-logo {
    background: url("www.thelogomix.com/files/imagecache/v3-logo-detail/400x400_5.png") no-repeat;
    display: block;
    position: absolute;
    bottom: 1.875em;
    left: 2em;
  }
}

@media (min-width: 87.5em) {
  #places-map .wu-logo {
    left: 50%;
    margin-left: -43.75em;
  }
}

#places-map img {
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

.secondary-page #places-map .content {
  margin: 0;
  position: relative;
}

@media (min-width: 60em) {
  .secondary-page #places-map .content {
    margin: 0 auto;
  }
}

#places-map .map {
  position: absolute;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#places-map .map-pins {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}
@media (min-width: 48em) {
  .js #places-map .map-location-marker {
    visibility: hidden;
  }
  .js #places-map .map-location-marker.bounceInDown {
    visibility: visible;
  }
}

#places-map .marker-san-francisco {
  left: 20%;
  top: 57%;
}

@media (max-width: 37.4375em) {
  #places-map .marker-san-francisco {
    left: 6%;
    top: 32%;
  }
}

#places-map .marker-denver {
  left: 31%;
  top: 66%;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

#places-map .marker-argentina {
  left: 31.5%;
  bottom: 19%;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

#places-map .marker-dubai {
  left: 52%;
  top: 64%;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

#places-map .marker-costa-rica {
  left: 17.5%;
  top: 46%;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

#places-map .marker-vilnius {
  left: 31%;
    top: 32%;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

#places-map .marker-singapore {
  left: 47%;
  bottom: 54%;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#places-map .marker-firdt {
  left: 57%;
  bottom: 45%;
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}

#places-map .marker-second {
  left: 55%;
  bottom: 23%;
  -webkit-animation-delay: 0.1 0.1s;
  animation-delay: 1.1s;
}

#places-map .marker-third {
  left: 69%;
  bottom: 70%;
  -webkit-animation-delay: 0.1 0.2s;
  animation-delay: 1.2s;
}

#places-map .marker-forth {
  left: 69%;
    bottom: 49%;
  -webkit-animation-delay: 0.1 0.4s;
  animation-delay: 1.4s;
}

#places-map .marker-fifth {
  left: 82%;
  bottom: 61%;
  -webkit-animation-delay: 0.1 0.4s;
  animation-delay: 1.4s;
}

#places-map .marker-sixth {
  left: 80%;
  bottom: 46%;
  -webkit-animation-delay: 0.1 0.4s;
  animation-delay: 1.4s;
}

#places-map .marker-seventh {
  left: 86%;
  bottom: 21%;
  -webkit-animation-delay: 0.1 0.4s;
  animation-delay: 1.4s;
}

#places-map .map-location-marker:after {
  -webkit-animation: pulsate 2s ease-in-out infinite;
  animation: pulsate 2s ease-in-out infinite;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  content: "";
  display: block;
  height: 31px;
  left: -5px;
    opacity: 0;
    position: absolute;
    top: -7px;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  width: 31px;
  z-index: 2;
}

#page-places {
  position: relative;
}

#map-info {
  background: #000;
  color: #fff;
  position: absolute;
  top: -1.5625em;
  left: 50%;
  margin-left: -7.8125em;
  padding: 1.125em;
  width: 15.625em;
  z-index: 10;
}

#map-info .close-btn {
  background: url("jeffbridgforth.com/codepen/close-btn.png") no-repeat;
  cursor: pointer;
  display: block;
  height: 0.6875em;
  width: 0.6875em;
  position: absolute;
  right: 1.125em;
  top: 1.125em;
}

@media (min-width: 30em) {
  #map-info {
    top: 50%;
    margin-top: -8.875em;
  }
}

@media (min-width: 60em) {
  #map-info {
    margin-left: -8.875em;
    width: 9.375em;
  }
}

@media (min-width: 48em) {
  #map-info {
    margin-left: 0;
    margin-top: 0;
  }
  #map-info:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 16px 13px 0;
    border-color: transparent #000 transparent transparent;
    position: absolute;
    left: -16px;
  }
  #map-info.mexico-city {
    left: 15%;
    top: 28%;
  }
  #map-info.Haiti {
    left: 24%;
    top: 32%;
  }
  #map-info.sao-paulo {
    left: 32.5%;
    bottom: 22%;
    top: auto;
  }
  #map-info.sao-paulo:before {
    top: 52px;
  }
  #map-info.el-salvador {
    bottom: 48%;
    left: 20%;
    top: auto;
  }
  #map-info.el-salvador:before {
    top: 45px;
  }
  #map-info.peterborough {
    top: 12.5%;
    left: 48%;
  }
  #map-info.flint {
    top: 17.5%;
    left: 23%;
  }
  #map-info.baghdad {
    top: 29%;
    left: 64%;
  }
  #map-info.kuala-lampur {
    left: auto;
    top: auto;
    bottom: 38%;
    right: 26%;
  }
  #map-info.kuala-lampur:before {
    border-width: 13px 0 13px 16px;
    border-color: transparent transparent transparent #000;
    left: auto;
    right: -16px;
    top: 55px;
  }
  #map-info.manila {
    left: auto;
    top: auto;
    bottom: 1.75%;
    right: 18.5%;
  }
  #map-info.manila:before {
    border-width: 13px 0 13px 16px;
    border-color: transparent transparent transparent #000;
    left: auto;
    right: -16px;
  }
  #map-info.sydney {
    left: auto;
    top: auto;
    right: 11.5%;
    bottom: 0;
  }
  #map-info.sydney:before {
    border-width: 13px 0 13px 16px;
    border-color: transparent transparent transparent #000;
    left: auto;
    right: -16px;
    bottom: 50px;
  }

}

#map-info h1 {
  font-family: "montserrat";
  float: left;
  font-size: 1.375em;
  line-height: 1;
  margin-bottom: 0.72727em;
  margin-top: 0;
}

#map-info p {
  font-family: "montserrat";
  float: left;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.66667em;
  margin-top: 0;
}

#map-info a {
  color: #ffdf1c;
  display: block;
  font-size: 0.75em;
  float: right;
  margin-right: 2.5em;
  margin-top: 0.66667em;
  text-decoration: underline;
}

#map-info img {
  height: auto;
  max-width: 100%;
}

@media screen and (min-device-width: 319px) and (max-device-width: 767px){
		#places-map .map-location-marker {
    background: url("images/marker-icon.svg") no-repeat;
    cursor: pointer;
    position: absolute;
    height: 2em t;
    margin-top: -1.875em;
    margin-left: -0.78571em;
    width: 2em ;
    z-index: 3;
    background-size: 17px ;
}
}